* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

.header {
    height: 120px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.header .header-logo {
    display: flex;
    align-items: center;
    margin-left: 100px;
    margin-top: 39px;
    margin-bottom: 39px;
    width: 130.04888916015625px;
    height: 42px;
}

.header .header-logo img {
    width: 42px;
    height: 42px;
    margin-right: 12px;
}

.header .header-logo h4 {
    width: 76.04888153076172px;
    height: 18.768001556396484px;
    color: #151411;
}

.header .header-nav {
    margin-left: 259.95px;
    display: flex;
    align-items: center;
    margin-top: 44px;
    margin-bottom: 44px;
}

.header .header-nav li {
    list-style-type: none;
    margin-right: 60px;
}

.header .header-nav a {
    text-decoration: none;
    height: 32px;
    font-family: Eudoxus Sans;
    color: #151411;
    font-weight: 500;
    font-size: 18px;
}

.header .header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 45px 100px 45px 245px;
}

.header .header-icon i {
    width: 30px;
    height: 30px;
    margin-right: 24px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
}

.intro-section {
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 220px;
}

.intro-section .section-title {
    margin: 0 358px;
    width: 724px;
    height: 166px;
    font-family: Eudoxus Sans;
    font-weight: 700;
    font-size: 64px;
    line-height: 130%;
    text-align: center;
}

.intro-section .section-sub-img-1 {
    width: 249.07442126865124px;
    height: 249.07442126865124px;
    position: absolute;
    top: 288px;
    left: 100px;
}

.intro-section .section-sub-img-2 {
    width: 51px;
    height: 51px;
    position: absolute;
    top: 298px;
    right: 371px;
}

.intro-section .section-description {
    font-family: Eudoxus Sans;
    margin: 30px 322px 92px 322px;
    width: 796px;
    height: 96px;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.5;
}

.intro-section .section-img-main {
    margin-left: 100px;
    margin-right: 100px;
    width: 1240px;
    height: 480px;
    background-image: url('./img/img-section/section_main.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.intro-section .section-img-main .section-search {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    width: 810px;
    height: 84px;
    position: absolute;
    top: -45px;
    left: 215px;
    border: 2px #667799 solid;
}

.section-img-main .section-search .ti-search {
    margin: 26px 18px 26px 26px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}  

.section-img-main .section-search input {
    width: 141px;
    height: 32px;
    font-family: Eudoxus Sans;
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0%;
    color: #AFADB5;
    border: none;
    margin-top: 26px;
    margin-bottom: 26px;
    margin-right: 408px;
}

.section-img-main .section-search .section-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 54px;
    margin: 15px 15px 15px 0;
    background-color: #518581;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    font-family: Eudoxus Sans;
    cursor: pointer;
}

