h1 {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #007bff;
    color: white;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}