* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    margin: 5px 10px;
}

.header {
    width: 100%;
    background: #3498DB;
    padding: 10px 10px;
    color: #fff;
}

.content {
    display: flex;
    margin: 10px 0;
}

.content .sidebar {
    width: 25%;
    background: #2ECC71;
    padding-left: 10px;
    padding-top: 10px;
    height: 570px; 
    color: #fff;
    margin-right: 10px;
}

.content .squater {
    width: 75%;
    color: #fff;
    background-color: #E74C3C;
    padding-left: 10px;
    padding-top: 10px;
}

.footer {
    width: 100%;
    background: #9B59B6;
    padding: 10px 10px;
    color: #fff;
}